*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.item{
    min-height: 30vh;
    background-color: #008080bb;
    border: 2px solid slateblue;
    border-radius: 5px;
}
h1{
    text-align: center;   
    margin: 10px 0;
}


#list-elements{ 
    list-style-type: none;
    text-transform: capitalize;
}
